{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
    <div class="home">
        <h3>Enter The Chat Room</h3>
        <input type="text" placeholder="Pick a name!" name="name" value="{{name}}">

        <div class="join">
            <input type="text" placeholder="Room Code" name="code" value="{{code}}">
            <button type="submit" name="join">Join Room</button>
        </div>
        <h4>OR</h4>
        <button type="submit" name="create" class="create-btn">Create a Room</button>

        {% if error %}
        <ul>
            <li>{{error}}!!!</li>
        </ul>
        {% endif %}
    </div>
</form>
{% endblock %}